REDMINE_URL=
REDMINE_USERNAME=
REDMINE_PASSWORD=
REDMINE_PROJECT_ID=
REDMINE_ISSUE_LIMIT=
REDMINE_STATUS_ID=
REDMINE_INCLUDE=

CSV_PATH=
OUTPUT_PATH=

OLLAMA_BASE_URL=
LLM_MODEL=
EMBED_MODEL=
QDRANT_URL=
QDRANT_COLLECTION=
RAW_FILE=